<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPFieldOfActivityAnnotations -->
      <package
            uri="http://sdq.ipd.kit.edu/KAMP4BPFieldOfActivityAnnotations/1.0"
            class="edu.kit.ipd.sdq.kamp4bp.model.fieldofactivityannotations.BPFieldOfActivityAnnotationsPackage"
            genModel="model/BPFieldOfActivityAnnotations.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated BPFieldOfActivityAnnotations -->
      <parser
            type="bpfieldofactivityannotations"
            class="edu.kit.ipd.sdq.kamp4bp.model.fieldofactivityannotations.util.BPFieldOfActivityAnnotationsResourceFactoryImpl"/>
   </extension>

</plugin>
