<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uhd.ifi.se.pcm.bppcm.bpusagemodel.presentation.BpusagemodelModelWizardID"
            name="%_UI_BpusagemodelModelWizard_label"
            class="de.uhd.ifi.se.pcm.bppcm.bpusagemodel.presentation.BpusagemodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/BpusagemodelModelFile.gif">
         <description>%_UI_BpusagemodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bp -->
      <editor
            id="de.uhd.ifi.se.pcm.bppcm.bpusagemodel.presentation.BpusagemodelEditorID"
            name="%_UI_BpusagemodelEditor_label"
            icon="icons/full/obj16/BpusagemodelModelFile.gif"
            extensions="bpusagemodel"
            class="de.uhd.ifi.se.pcm.bppcm.bpusagemodel.presentation.BpusagemodelEditor"
            contributorClass="de.uhd.ifi.se.pcm.bppcm.bpusagemodel.presentation.BpusagemodelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uhd.ifi.se.pcm.bppcm.organizationenvironmentmodel.presentation.OrganizationenvironmentmodelModelWizardID"
            name="%_UI_OrganizationenvironmentmodelModelWizard_label"
            class="de.uhd.ifi.se.pcm.bppcm.organizationenvironmentmodel.presentation.OrganizationenvironmentmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OrganizationenvironmentmodelModelFile.gif">
         <description>%_UI_OrganizationenvironmentmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bp -->
      <editor
            id="de.uhd.ifi.se.pcm.bppcm.organizationenvironmentmodel.presentation.OrganizationenvironmentmodelEditorID"
            name="%_UI_OrganizationenvironmentmodelEditor_label"
            icon="icons/full/obj16/OrganizationenvironmentmodelModelFile.gif"
            extensions="organizationenvironmentmodel"
            class="de.uhd.ifi.se.pcm.bppcm.organizationenvironmentmodel.presentation.OrganizationenvironmentmodelEditor"
            contributorClass="de.uhd.ifi.se.pcm.bppcm.organizationenvironmentmodel.presentation.OrganizationenvironmentmodelActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated bp -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="de.uhd.ifi.se.pcm.bppcm.datamodel.presentation.DatamodelModelWizardID"
            name="%_UI_DatamodelModelWizard_label"
            class="de.uhd.ifi.se.pcm.bppcm.datamodel.presentation.DatamodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DatamodelModelFile.gif">
         <description>%_UI_DatamodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated bp -->
      <editor
            id="de.uhd.ifi.se.pcm.bppcm.datamodel.presentation.DatamodelEditorID"
            name="%_UI_DatamodelEditor_label"
            icon="icons/full/obj16/DatamodelModelFile.gif"
            extensions="datamodel"
            class="de.uhd.ifi.se.pcm.bppcm.datamodel.presentation.DatamodelEditor"
            contributorClass="de.uhd.ifi.se.pcm.bppcm.datamodel.presentation.DatamodelActionBarContributor">
      </editor>
   </extension>

</plugin>
